
    
@import url("https://fonts.googleapis.com/css2?family=Rochester&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0%;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  /* background-color: #e5e5e5; */
  background-color: #f0f8ff;
}
.main-container {
  max-width: 1440px;
  margin: auto;
}
.header h4 {
  font-family: Rochester;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  margin-left: 40px;
  margin-top: 40px;
}
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 10px;
}
.search form {
  display: flex;
}
.search form input {
  width: 480px;
  height: 35px;
  background: #fafafa;
  color: #525252;
  border: none;
  border-radius: 40px;
  border: 0.5px solid rgb(151, 151, 151);
  margin-right: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Ubuntu";
}
.search form input,
button:focus {
  outline: none;
}
.search form input::placeholder {
  color: #3a3a3a;
}
.search form button:hover {
  transition: 0.5s ease all;
  background-color: #4ece34;
}
.search form button {
  width: 60px;
  height: 35px;
  background: #ff5353;
  border-radius: 35px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fafafa;
}
.cart-container {
  max-width: 1300px;
  background: linear-gradient(180deg, #e6ffed 0%, #a0fad9 53.12%, #dfcffa 100%);
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 680px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.poster {
  background: #f9f9f9;
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;

  width: 150px;
  height: 170px;
}
.poster img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}
.title {
  background: #f9f9f9;
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

  width: 150px;
  height: 55px;
}
.title a {
  margin: 3px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: ubuntu;
  color: rgb(32, 32, 32);
  font-weight: 350;
}
.title a:hover {
  color: rebeccapurple;
  font-size: 1.02rem;
  transition: 0.5s ease all;
}
/* Details Css */
.flexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.back-button button {
  background-color: #ff7878;
  width: 119px;
  height: 20px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.back-button button:hover {
  transition: 0.5s ease all;
  background-color: rgb(245, 61, 76);
}
.cover {
  margin: 40px;
  width: 401px;
  height: 460px;
  background: #fdfdfd;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
}
.info {
  width: 690px;
  margin: 15px 40px;
}
.plot {
  margin: 15px 40px;
  font-size: 16px;
}

.info {
  font-size: 18px;
  color: #2d2d2d;
}
.info {
  font-size: 18px;
  color: #2d2d2d;
}
.info .big-title {
  color: #161c4d;
  font-size: 50px;
}
.info p {
  margin-bottom: 10px;
  color: #2d2d2d;
}
@media (max-width: 540px) {
  /* For mobile phones: */
  .search form input {
    width: 90%;
    height: 50px;
  }
  .search form button {
    height: 50px;
  }
  .search form {
    margin: 0 10px;
  }
  .cart-container {
    margin: 0 10px;
  }
  .header h4 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.footer {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  border: #2d2d2d;
  border-color: #161c4d;
}

/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}


/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}
